.pricing-section {
  background-image: url(../img/pricing-desktop.webp);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 14px 0 12px;
  @media (min-width: 481px) {
    padding: 90px 0 95px;
  }

  @media (min-width: 993px) {
    padding: 110px 0 70px;
  }
}

.pricing-title {
  font-weight: 700;
  font-family: $montserrat;
  color: #fff;
  text-align: center;
  font-size: calc(28px + (42 - 28) * ((100vw - 320px) / (768 - 320)));
  line-height: calc(42px + (44 - 42) * ((100vw - 320px) / (768 - 320)));
  margin-bottom: 14px;

  @media (min-width: 481px) {
    margin-bottom: 40px;
  }

  @media (min-width: 768px) {
    font-size: calc(42px + (48 - 42) * ((100vw - 768px) / (1200 - 768)));
    line-height: calc(44px + (50 - 44) * ((100vw - 768px) / (1200 - 768)));
  }

  @media (min-width: 993px) {
    margin-bottom: 60px;
  }

  @media (min-width: 1200px) {
    font-size: 48px;
    line-height: 50px;
  }
}

.pricing-list {
  display: grid;
  grid-template-columns: minmax(200px, 300px);
  justify-content: center;

  @media (min-width: 481px) {
    grid-template-columns: minmax(200px, 300px) minmax(200px, 257px);
    column-gap: 25px;
    row-gap: 30px;
    justify-items: end;
    align-items: center;
  }

  @media (min-width: 993px) {
    grid-template-columns: minmax(200px, 257px) minmax(200px, 257px) minmax(200px, 300px) minmax(200px, 257px);
    column-gap: 15px;
    row-gap: 0px;
  }
}

.pricing-list__item {
  margin: 18px auto 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #5f5161;
  min-height: 470px;
  width: 257px;

  @media (min-width: 481px) {
    margin: 0px;
    width: 100%;
    max-width: 257px;
  }

  &--active {
    background-color: #473249;
    width: 300px;

    @media (min-width: 481px) {
      width: 100%;
      max-width: 300px;
    }
  }
}

.pricing-list__title {
  text-align: center;
  padding: 36px 0px;
  width: 100%;
  font-family: $montserrat;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 24px;
  color: #fff;
  background-color: #695b6a;

  &--active {
    background-color: #3f2c41;
    padding: 43px 0px;
  }
}

.pricing-list__price {
  display: block;
  font-size: 60px;
  line-height: 62px;
  color: #fff;
  font-family: $montserrat;
  font-weight: 700;
  margin-top: 30px;

  &--bold {
    font-weight: 400;
  }

  &--active {
    font-size: 82px;
    line-height: 84px;
  }
}
.pricing-list__month {
  position: relative;
  font-size: 14px;
  line-height: 16px;
  font-family: $montserrat;
  color: #fff;
  text-transform: uppercase;
  margin: 20px 0 73px;

  &::before {
    content: "";
    position: absolute;
    background-color: #8d81ac;
    width: 60px;
    height: 5px;
    bottom: -43px;
    left: 50%;
    transform: translate(-50%);
  }
}

.pricing-bullet {
  flex: 1 1 auto;
  &__item {
    text-align: center;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    font-family: $montserrat;
    line-height: 28px;

    &--active {
      line-height: 32px;
    }
  }
}

.pricing-list__link {
  position: relative;
  font-size: 15px;
  line-height: 15px;
  background-color: #776b79;
  width: 163px;
  font-family: $montserrat;
  color: #fff;
  text-align: center;
  border-radius: 50px;
  text-transform: uppercase;
  padding: 14px 0px;
  margin: 37px 0px;
  overflow: hidden;
  z-index: 1;
  transition: color 0.5s ease-in-out;

  &--active {
    margin: 83px 0 47px;
    padding: 18.5px 0px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0%;
    top: 0px;
    left: 0px;
    background-color: #fff;
    transition: height 0.3s ease-in-out;
    z-index: -1;
  }

  &:hover::before {
    height: 100%;
  }
  &:hover {
    color: #8d81ac;
  }
}
